In [2]:
type grade = A|B|C|D|F;;

let score_to_grade (s:int) : grade = 
  if s>=80 then A
    else if s>=60 then B
  else if s>=40 then C
    else if s>=20 then D
      else F;;

type gd_rcd ={
  name : string;
  score :int;
  lt_gd : grade;
};;

type gd_sheet ={
    course_code:string;
    instructor:string;
    content : gd_rcd list;
};;

let rec grade_check (gd_rcd_list:gd_rcd list) = 
  match gd_rcd_list with
  |[]-> true
  |[x] -> x.lt_gd == score_to_grade x.score
  |hd::tl -> (hd.lt_gd == score_to_grade hd.score) && grade_check tl;;

let content_1 = [
  {name = "Alice"; score = 80; lt_gd = A};
  {name = "Bob"; score = 60; lt_gd = B};
  {name = "Charlie"; score = 40; lt_gd = C};
  {name = "David"; score = 20; lt_gd = D};
  {name = "Eve"; score = 10; lt_gd = F};
  {name = "Frank"; score = 90; lt_gd = A};
  {name = "Grace"; score = 70; lt_gd = B};
  {name = "Heidi"; score = 50; lt_gd = C};
  {name = "Ivan"; score = 30; lt_gd = D};
  {name = "Judy"; score = 0; lt_gd = F};
  {name = "Kevin"; score = 85; lt_gd = A};
  {name = "Lily"; score = 65; lt_gd = B};
  {name = "Mike"; score = 45; lt_gd = C};
  {name = "Nancy"; score = 25; lt_gd = D};
  {name = "Oscar"; score = 5; lt_gd = F};
  {name = "Peggy"; score = 95; lt_gd = A};
  {name = "Quincy"; score = 75; lt_gd = B};
  {name = "Randy"; score = 55; lt_gd = C};
  {name = "Sandy"; score = 35; lt_gd = D};
  {name = "Tom"; score = 15; lt_gd = F};
  {name = "Ursula"; score = 100; lt_gd = A};
  {name = "Victor"; score = 78; lt_gd = B};
  {name = "Wendy"; score = 58; lt_gd = C};
  {name = "Xavier"; score = 38; lt_gd = D};
  {name = "Yvonne"; score = 18; lt_gd = F};
  {name = "Zack"; score = 8; lt_gd = F};
  {name = "Amy"; score = 92; lt_gd = A};
];;


let gd_sheet_1 = {
  course_code = "CS101";
  instructor = "John";
  content = content_1;
};;

grade_check gd_sheet_1.content;;

type grade = A | B | C | D | F

val score_to_grade : int -> grade = <fun>

type gd_rcd = { name : string; score : int; lt_gd : grade; }

type gd_sheet = {
  course_code : string;
  instructor : string;
  content : gd_rcd list;
}

val grade_check : gd_rcd list -> bool = <fun>

val content_1 : gd_rcd list =
  [{name = "Alice"; score = 80; lt_gd = A};
   {name = "Bob"; score = 60; lt_gd = B};
   {name = "Charlie"; score = 40; lt_gd = C};
   {name = "David"; score = 20; lt_gd = D};
   {name = "Eve"; score = 10; lt_gd = F};
   {name = "Frank"; score = 90; lt_gd = A};
   {name = "Grace"; score = 70; lt_gd = B};
   {name = "Heidi"; score = 50; lt_gd = C};
   {name = "Ivan"; score = 30; lt_gd = D};
   {name = "Judy"; score = 0; lt_gd = F};
   {name = "Kevin"; score = 85; lt_gd = A};
   {name = "Lily"; score = 65; lt_gd = B};
   {name = "Mike"; score = 45; lt_gd = C};
   {name = "Nancy"; score = 25; lt_gd = D};
   {name = "Oscar"; score = 5; lt_gd = F};
   {name = "Peggy"; score = 95; lt_gd = A};
   {name = "Quincy"; score = 75; lt_gd = B};
   {name = "Randy"; score = 55; lt_gd = C};
   {name = "Sandy"; score = 35; lt_gd = D};
   {name = "Tom"; score = 15; lt_gd = F};
   {name = "Ursula"; score = 100; lt_gd = A};
   {name = "Victor"; score = 78; lt_gd = B};
   {name = "Wendy"; score = 58; lt_gd = C};
   {name = "Xavier"; score = 38; lt_gd = D};
   {name = "Yvonne"; score = 18; lt_gd = F};
   {name = "Zack"; score = 8; lt_gd = F};
   {name = "Amy"; score = 92; lt_gd = A}]

val gd_sheet_1 : gd_sheet =
  {course_code = "CS101"; instructor = "John";
   content =
    [{name = "Alice"; score = 80; lt_gd = A};
     {name = "Bob"; score = 60; lt_gd = B};
     {name = "Charlie"; score = 40; lt_gd = C};
     {name = "David"; score = 20; lt_gd = D};
     {name = "Eve"; score = 10; lt_gd = F};
     {name = "Frank"; score = 90; lt_gd = A};
     {name = "Grace"; score = 70; lt_gd = B};
     {name = "Heidi"; score = 50; lt_gd = C};
     {name = "Ivan"; score = 30; lt_gd = D};
     {name = "Judy"; score = 0; lt_gd = F};
     {name = "Kevin"; score = 85; lt_gd = A};
     {name = "Lily"; score = 65; lt_gd = B};
     {name = "Mike"; score = 45; lt_gd = C};
     {name = "Nancy"; score = 25; lt_gd = D};
     {name = "Oscar"; score = 5; lt_gd = F};
     {name = "Peggy"; score = 95; lt_gd = A};
     {name = "Quincy"; score = 75; lt_gd = B};
     {name = "Randy"; score = 55; lt_gd = C};
     {name = "Sandy"; score = 35; lt_gd = D};
     {name = "Tom"; score = 15; lt_gd = F};
     {name = "Ursula"; score = 100; lt_gd = A};
     {name = "Victor"; score = 78; lt_gd = B};
     {name = "Wendy"; score = 58; lt_gd = C};
     {name = "Xavier"; score = 38; lt_gd = D};
     {name = "Yvonne"; score = 18; lt_gd = F};
     {name = "Zack"; score = 8; lt_gd = F};
     {name = "Amy"; score = 92; lt_gd = A}]}

- : bool = true